Django==1.5.1
dj-database-url==0.2.1
google-api-python-client==1.1
html5lib==0.95
httplib2==0.8
oauth2==1.5.211
psycopg2==2.4.6
python-gflags==2.0
python-openid==2.2.5
wsgiref==0.1.2
BeautifulSoup==3.2.1
