/***** Newest CSS - do not delete ****/


  /* limits the number of people */
   .ui-autocomplete {
        max-height: 200px;
        width:100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
    } 
    .ui-menu-item {
      height:55px;
    }
    .ui-state-hover, .ui-autocomplete li:hover
      {
        display:none;
      }



/* for masonry */
.uncatmemes{
  display: block;
  float: left;
  padding:5px;
  margin: 5px;
  border:0 0 1px solid #ACACA5;
  box-shadow:0 0 10px #ACACA5;
  background-color:white;
  width:370px;
}

.uncatmemes a img{
  display: block;
  width: 370px;

}

.schoolmemes{
	margin:5px;
}

#macromeme {
  height:800px;
  width:1500px;
  position:absolute;
  top:100px;
  left:50%;
  margin-left: -760px;
  border: 1px solid #ACACAC;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
  border-radius: 5px;
}

.over {
  border: 2px dashed #000;
  -webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);
}


/* CSS for fancybox hovering magnifying */
/*span.roll {*/
	/*background:url(/static/images/mag.png) center center no-repeat #000;*/
	/*height: 250px;*/
	/*position: absolute;*/
	/*width: 370px; [> match uncatmemes img width <]*/
	/*z-index: 10;	*/
	/*-webkit-box-shadow: 0px 0px 4px #000;*/
	/*-moz-box-shadow: 0px 0px 4px  #000;*/
	/*box-shadow: 0px 0px 4px  #000; */
/*}*/

/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/****************************** Main Page Styling *******************************/
    *{  
       margin:0;  
       padding:0;  
    }  
      
    body{  
       text-align:center; /*For IE6 Shenanigans*/  
	   max-width:1903px;
	   font-family: Trebuchet, Helvetica, sans-serif;
		font-size:.8em;
		background-color:rgb(245,243,244);
		min-width:768px;
		margin-left:auto;
		margin-right:auto;
		left:50%;
	   
	}
	
	
	html{
		font-family: Trebuchet, Helvetica, sans-serif;
		font-size:.8em;
		background-color:rgb(245,243,244);
		min-width:768px;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		}
		
		
		/* =p Define paragraph text size */
	p {
		font-size:1.1em;
	}
	  
/* =h Define headings font sizes */

	h2 {
		font-size:1.8em;
	}


/* Define form and table font-size */
	input, select, th, td {
		font-size:1.1em;
	}
	
	a{
		color:#0099FF;
		outline:none;
    }
	
	
	ul{
		list-style: none outside none;
	}

	/* Max edits */
	/* A master */
	/*#wrapper{
		margin-left:auto;
		margin-right:auto;
		width:100%;
		min-width:516px;*/
	}
	
	.basic_text{
		font-size:15px;
	}
	.basic_button{
		padding: 3px;
		font-size: 20px;
		background-color:#FC9200;
		border-radius:5px;
		color:white;
	}
	.smaller_button{
		padding: 1px;
		font-size: 15px;
		background-color:#FC9200;
		border-radius:5px;
		color:white;
		margin:5px;
		}
	
	
	/* Base master */
	
	#intro_logo_container{
		text-align:center;
		width:100%;
	}
	
	
	#intro_logo {
		position:absolute;
		width:130px;
		left:0px;
		display:block;
		padding:1px;
		left:50%;
		margin-left:-65px;
	}
	
	#intro_logo_landing{
		position:absolute;
		width:130px;
		left:0px;
		display:block;
		padding:1px;
		left:50%;
		margin-left:-65px;
		top:-2px;
	}
	#header_container{
		position:relative;
		background-color:#FAFFFF;
		/*#FAF7F7;*/
		/*initial #F0F8FF*/
		width: 100%;
		height:30px;
		/*border:1px solid #ACACA5;
		box-shadow:0px .5px 2px #ACACA5;*/
		padding-top:10px;
		text-align:center;
	}
	
	#header_menu_container{
		position:relative;
		padding: 2.5px;
		padding-bottom:10px;
	}
	#header_menu{
		text-align:center;
	
	
	}
	
	#header_menu li{
		float:right;
		display:inline;
		font-size:15px;
		margin-right:25px;
		margin-bottom:15px;
	}
	
	#header_menu li a{
		padding: .2em 1em;
		text-decoration:none;
		color:#524D4D;
		font-weight:bold;
		font-family:"helvetica neu", arial, sans-serif;
		margin-bottom:10px;
	}
	
	#header_menu li a:hover{
		padding: .2em 1em;
		text-decoration:none;
		color:#221919;
		background-color:#E1DFDF;
		font-weight:bold;
		font-family:"helvetica neu", arial, sans-serif;
	}
	
	#subheader_container{
		background-color:#FAFFFF;
		/*#FAF7F7;*/
		border-bottom:1px solid #ACACA5;
		box-shadow:0px .5px 2px #ACACA5;
		box-shadow: inset 0 1 px white, 0 1px 3px rgba(34, 25, 25, 0.4);
		-webkit-bow-shadow:inset 0 1px 
			white, 0 1px 3px 
			rgba(34, 25, 25, 0.4);
		height:35px;
		width:100%;
		text-align:center;
		overflow:hidden;
		}
		
	#left_balance{
		float:left;
		width:334px;
		height:1px;
	
	}
		
	#subheader_menu{
		position:relative;
		font-family:"helvetica neue",arial,sans-serif;
		text-shadow: 0 1px white;
		color: #8C7E7E;
		top:5px;
		
	}
	
	#subheader_menu a{
		position:relative;
		font-family:"helvetica neue",arial,sans-serif;
		text-shadow: 0 1px white;
		color: #524D4d;
		margin-top:5px;
	}
	
	#uncat_text{
		font-weight:bold;
		border-left:1px solid black;
		padding-left:2px;
	
	}
	
	#school_text{
		font-weight:bold;
		border-right:1px solid black;
		padding-right:1px;
		margin-right:2px;
		
		}
	
	
	#upload_button_container{
		float:right;
		padding:5px;
		height:37px;
		padding:0px;
		padding-right:5px;
	}
	
	.h1{
		position:absolute;	
		color: red;
		font-size: 20px;
	}
	
	/*#h2{position:static!important;
	margin:5px;
	float:right;	}
	#h3{position:static !important;
	margin:5px;	
	float:right;} */
	
	/* Profile master */
	

	
  #albums_container_placeholder{
    position:relative;
    width:180px;
    height:auto;
		
	
	
	}
	#albums_container{
		/*position:absolute;*/
    /*left:0;*/
    position:fixed;
		/*max-height:624px;*/
		border-bottom:1px solid #ACACA5;
		/*width:180px;*/
		background-color:rgb(245,243,244);
		padding-top:5px;
		overflow:scroll;
		z-index:500;
    height:99%;
	}

	#tutorial_meme_container{
    position:fixed;
    top:40px;
    right:0px;
		/*max-height:624px;*/
		/*width:180px;*/
		padding-top:5px;
		overflow:scroll;
		z-index:500;
    height:99%;
	}

  /*CSS to stick albums to top */
  #albums_container.stick{
    position:fixed;
    top:0px;
		border-bottom:1px solid #ACACA5;
		/*width:180px;*/
		background-color:rgb(245,243,244);
		padding-top:5px;
		overflow:scroll;
		z-index:500;
  }
	
	#albums_header_container{
		position:relative;
		width:100%;
		height:30px;
	}
	#albums_header{
		font-size:30px;
		text-align:center;
		clear:both;
		margin:5px;
		margin-top:7px;
		color:#221919;
		font-family:"helvetica neu", arial, sans-serif;
	}
	
	#create_album_container{
		position:relative;
		width:145px;
		height:185px;		
		background-color:white;
		border:1px solid #ACACA5;
		box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		-webkit-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		border: 2px dashed rgba(34, 25, 25, 0.4);
		-webkit-border-radius:5px;
		margin-left:10px;
		margin-bottom:20px;
		overflow:hidden;
		
	}
	
	#create_album_container form{
		top:25px;
		border-radius:6px;
		
	
	}
	
	#create_album{
		position:relative;
		top:50px;
	}
	
	#profile_button input{
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 2px;
		text-decoration:none;
		text-shadow:1px 1px 0px #ffffff;
}
	#profile_button input:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
		background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background-color:#dfdfdf;
}
	#profile_button:active {
		position:relative;
	
	}
	
	#input_field_container{
	max-width:145px;
	overflow:hidden;
	
	}
	
	#albums_display_container{
	}
	
	 #albums_display{
		position:relative;
		/*display:inline-block;*/
		background-color:white; /*#87D2FF;*/
		/*border-radius:5px;*/
		width:125px;
		margin:10px;
		padding:10px;
		border:1px solid #ACACA5;
		box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		-webkit-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
	} 
	#berkeley_feed_display{
		position:relative;
		/*display:inline-block;*/
		background-color:white; /*#87D2FF;*/
		/*border-radius:5px;*/
		width:125px;
		margin:10px;
		padding:10px;
		border: 3px solid yellow;
		outline: 2px solid blue;
		box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		-webkit-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
	} 
	#dartmouth_feed_display{
	position:relative;
		/*display:inline-block;*/
		background-color:white; /*#87D2FF;*/
		/*border-radius:5px;*/
		width:125px;
		margin:10px;
		padding:10px;
		outline: 2px solid green;
		box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		-webkit-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
	
	
	}
	
	#delete_album_container{
	position:relative;
	width:100%;
	text-align:center;
	
	}
	
	#delete_album_container a{
	position:absolute;
	bottom:0px;
	left:102%;
	}
	
	#hide_text_container{
		/*position:absolute;*/
		overflow:hidden;
		/*z-index:-1;*/
		width:125px;
		height:125px;
	
	}
	#hide_text_container:hover{
		display:inline;
		/*z-index:5000;*/
	}
	
	#albums_info a{
		position:relative;
		text-decoration:none;
		color:#221919;
		font-family:"helvetica neu", arial, sans-serif;
		bottom:5px;
	
	}
	
	#hide_album_image{
		width:25px;
		height:25px;
		overflow:hidden;
	
	}
	
	
	
	#create_form{
		font-size:17px;
	}
	
	#albums_header{
	/*font-size:40px;
	color:rgb(122,140,153); 
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	bottom:315px;
	left: 47.5%;*/
	}
	
	#albums_container{
	/*position:relative;*/
	}
	
	
	
	
	
	
	#uncat_container{
		background-color:#F5F3F4;
		padding-top:5px;
    padding-left:200px;
    margin-left:auto;
		margin-top:.5px;
	}
	
	#uncat_header_container{
		min-height:34px;
		height:auto;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		padding-top:5px;
		width:780px;

	}
	
	
	#uncat_header_text{
		font-size:30px;
		color:#221919;
		font-family:"helvetica neu", arial, sans-serif;
	}
	
	.uncat_header_text_addition{
		font-size:10px;
		color:#221919;
		font-weight:normal;
	}
	
	#school_subheader_link:hover{
		text-decoration:underline;
	}
	
	#uncategorized_subheader_link:hover{
		text-decoration:underline;
	}

	
	#delete_uncat_meme a{
		float:right;
		color:black;
		text-decoration:none;
	}
	
	.feed_container{
		width:100%;
		text-align:center;
	
	}
	
	#school_feed_memes{
		max-width:80%;
		max-height:80%;
		margin-right:auto;
	
	}
	
	#school_feed_memes img{
		padding:25px 30px 25px 30px;
		background-color:white;
		border-radius:10px;
	}
	
	#additional_perspective_container{
		float:left;
	
	}
	 
	#additional_perspective a{
		position:relative;
		top:150px;
	}
	
	#additional_perspective img{
		position:relative;
		padding:10px;
		height:50px;
		width:50px;
	
	}
	#additional_storyline_container{
		float:left;
	}
	
	#additional_storyline a{
		position:relative;
		bottom:150px;
	}
	
	#additional_storyline img{
		position:relative;
		padding:10px;
		height:50px;
		width:50px;
	}
	
	
	
	#perspective_placeholder{
	width:10px;
	height:50%;
	float:left;
	
	}
	
	
	/*Exprerience display master */
	#overall_album_container{
		border: 0 1px 1px 1px solid #ACACA5;
		box-shadow:0 0 10px #ACACA5;
	}
	
	#album_header_container{
		position:relative;
		background-color:white;
		width:100%;
		min-height:50px;
		border-top-left-radius:8px;
		border-top-right-radius:8px;
		border-bottom:2px solid #E8E8E8;
		background-color:#F5F3F4;
		
	}
	
	#album_title_container{
		float:left;
		margin:10px;
		margin-top:20px;
		color:#221919;
		font-size:15px;
	}
	#invitation_container{
		float:right;
		margin:10px;
	
	}
	
	
	#invite_friends{
		position:relative;
		left: 5px;
		font-size:14px;
	}
	
	#td_container td{
	max-height:60px;
	
	}
	
	#coowner a{
		font-size:14px;
		color:grey;
	}
	#coowner a:hover{
		text-decoration:underline;
	}
	
	#album_list{
		position:relative;
		background-color:white;
		width:100%;
		min-height:50px;
		border-bottom-left-radius:8px;
		border-bottom-right-radius:8px;
		background-color:#F5F3F4;
		}
	
	.helptext{
	margin-top:-40px;
	
	
	}
	#invite_button{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	}
	#invite_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}
	#invite_button:active {
	position:relative;
	
	}
	/* 12 master */
	
	#login_button_container{
	position:relative;
	width:400px;
	
	}
	
	#login_button{
	float:right;
	margin-top:15px;
	}
	/*#landing_wrapper{
	background-color:#F5F3F4;
	
	}*/
	
	#landing_image_container{
		background-image:url(../images/berkeley.jpg);
		background-size:100% 600px;
		background-repeat:no-repeat;
	
	
	
	}
	
	#header_wrapper{
		position:relative;
		height:250px;
		/*background-color:#F5F3F4;
		background-image: url(../images/grey.png);
		background-repeat:repeat;*/
		overflow:visible;
	}
	
	#landing_logo{
		float:left;
	
	}
	
	#landing_header_container{
		width:960px;
		height:351px;
		margin-left:auto;
		margin-right:auto;
	
	
	}
	
	
	
	#prop_text_container{
		position:relative;
		top:75px;
		right:195px;
		height:100px;
		font-size:40px;
		line-height:40px;
		color:#FEFEF2;
		
	
	}
	
	/*#cal_text{
		font-family:"Rage Italic", serif;
		font-size:40px;
	
	}*/
	
	#registration_container{
		/*padding-top:15px
		display:inline-block;
		background-color:#F5F3F4; /*#87D2FF;*/
		/*
		border-radius:5px;
		width:225px;
		padding:10px;
		border:1px solid #ACACA5;
		box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		-webkit-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
		*/
		position:relative;
		left:40%;
		bottom:190px;
		height:auto;
		width:50%;
		z-index:500;
		overflow:hidden;
		margin-bottom:50px;
	}
	
	.fb_login_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #296fba), color-stop(1, #183666) );
	background:-moz-linear-gradient( center top, #296fba 5%, #183666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#296fba', endColorstr='#183666');
	background-color:#296fba;
	border:1px solid #123766;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:23px;
	font-weight:bold;
	padding:16px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1d65ad;
}.fb_login_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #183666), color-stop(1, #296fba) );
	background:-moz-linear-gradient( center top, #183666 5%, #296fba 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#183666', endColorstr='#296fba');
	background-color:#183666;

}.fb_login_button:active {
	position:relative;
	top:1px;
}

	#landing_middle_container{
		position:relative;
		height:200px;
		width:100%;
		padding-bottom:150px;
	
	}

	#landing_middle_container{
	display:inline-block;
	width:auto;
	
	}
	
	
	#footer_video_container{
		width:1000px;
		display:inline-block;
	}
	
	#footer_prop_container1{
		margin-left:auto;
		margin-right:auto;
		padding:10px; 
		display:inline-block;
		/*margin-top:60px;*/
		margin-top:15px;
		width:auto;
		overflow:hidden;
		text-align:center;
		background-color:rgba(255,255,255,0.6);
		filter:alpha(opacity=60);
		border-radius:5px;
		padding: 0 15px 10px 15px;
	}
	#share_story{
		float:left;
		margin-right:30px;
		width:220px;
	}
	#exclusively_private{
		float:left;
		margin-right:30px;
		width:220px;
	}
	#recreate_experiences{
		float:left;
		width:220px;
	}
	
	#value_pic1{
	}
	
	#value_pic1 img{
	}
	
	#value_pic2{
	}
	
	#value_pic2 img{
	}
	
	#value_pic3{
	}
	
	#value_pic3 img{
	}
	
	#value_text1 h3{
		line-height:20px;
		font-size:18px;
	}
	
	#value_text1{
		/*color:#837A71;*/
	}
	
	
	#value_text2 h3{
		line-height:20px;
		font-size:18px;
	}
	
	#value_text2{
		/*color:#837A71;*/
	}
	
	#value_text3 h3{
		line-height:20px;
		font-size:18px;
	}
	
	#value_text3{
		/*color:#837A71;*/
	}
	
	
	#video_container{
		float:right;
		background-color:#E7EFEF;
		/*rgba(255,255,255,1);*/
		filter:alpha(opacity=60);
		border-radius:5px;
		height:140px !important;
		overflow:hidden;
    margin-top:20px;
	}
	#video_pic{
		position:relative;
		bottom:15px;
	}
	#video_text{
		position:relative;
		top:5px;
	}
	
	#video_text a{
		color:#333;
		
	}
	
  .landing_meme{
    position:relative;
    margin-bottom:30px;
  }

  .landing_meme_node{
    position:relative;
    right:200px;
    top:-200px;
  }

  .landing_meme_node img{
    vertical-align:text-top;
  }
	
	.landing_meme a{
		width:200px;
		margin:5px;
	}

  .image_not_active {
    opacity:0.4;
  }

  .image_active {
    opacity:1;
    padding:1px;
    border:1px solid #021a40;
    background-color:#ff0;
  }
	
	.more_memes {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:arial;
		font-size:23px;
		font-weight:bold;
		padding:16px 24px;
		text-decoration:none;
		text-shadow:1px 1px 0px #ffffff;
}.more_memes:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
		background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background-color:#dfdfdf;
}.more_memes:active {
		position:relative;
		top:1px;
}
	
	#footer_wrapper{
		padding-top:10px;
		background-color: #F5F3F4;
		border-top:1px solid #F5F3F4;
		box-shadow: 0px -3px #F5F3F4;
		background-image: url(../images/grey.png);
		background-repeat:repeat;
		height:100%;
	}
	#value_prop2_text{
		font-size:30px;
		color:#333;
		padding-bottom:20px;
		/*color:#837A71;*/
	}
	
	/* Create Master */
	
	
	#flashContent{
		position:absolute;
		top:200px;
	
	
	}
	
		
	/*meme node map master*/
	
	
	/*meme node map load master*/
	#horizontal_memes_container{
		text-align:center;
		width:100%;
		margin-top:15%;
	
	}
	
	
	#horizontal_memes{
		position:relative;
		width:auto;
		height:auto;
		text-align:center;
		display:inline-block;
		vertical-align:middle;
	
	}
	
	#horizontal_memes img{
		position:relative;
		text-align:center;
		display:inline-block;
		vertical-align:middle;
		white-space:nowrap;
		height:50px;
		
	
	}
	
	#horizontal_memes_size{
		position:relative;
		width:50px;
		height:50px ;
	
	}
	
	
	#add_meme_placeholder{
		position:relative;
		top:-50px;
		height:50px;
		width:50px;
		
	
	}
	
	#add_meme_horizontal{
		position:relative;
		top:-50px;
	}
	
	#add_meme_vertical_container{
		width:100%;
		text-align:center;
	
	}
	
	#add_meme_vertical{
		position:relative;
		text-align:center;
		left:-52px;
	
	}
	
	#add_meme_vertical_placeholder{
		position:relative;
		left:-25px;
		height:50px
		width:50px;
	
	}
	
	#vertical_meme_container{
		position:relative;
		text-align:center;
		width:100%;
		left:-25px;
	}
	
	#vertical_meme{
		width:auto;
	
	}
	
	#selected_meme{
		
	
	}
	
	#meme_map_container{
		float:left;
		text-align:center;
		width:50%;
	
	}
	
	
	#main_comic_container{
		float:right;
		width:49%;
		height:100%;
		text-align:center;
		border-left-style:solid;
		border-left-color:#333;
		border-left-width:1px;
	
	}
	
	#main_comic img{
		float:right;
		
		
	}
	
	#feed_comic_entry{
		max-height:500px;
		max-width:500px;
	
	
	}
	
	
	/*End*/
	

	
	/*End*/
	
