<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpg.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/mainjs.js"></script>

<body>
  <div style="background-color:white;">

  {% block content %}
  {% endblock %}
  </div>

  {% block content-related %}
  {% endblock %}
</body>

