{% extends 'base.html' %}

{% block content %}

<p id="top_instruction" class="lead">
  We scheduled {{ class_name }} for you @ period {{ period }}!
</p>

<!-- Schedule another at end.
<a href="{% url 'home' %}" id="continue" class="btn btn-success"> Schedule another class</a>
-->

<a href="javascript:;" id="start_gathering" class="btn btn-primary">Gather class information</a>

<!-- modifications -->
<div id="gathering" class="lead" style="display:none;">
  Gathering information
</div>



<script>

  $('#start_gathering').live('click', function(){
    $('#top_instruction').fadeOut('medium', function(){
      $('#start_gathering').hide();
      $('#gathering').fadeIn('slow');
    });
  });

</script>

{% endblock %}
