{% extends 'base.html' %}

{% block content %}

<p id="top_instruction" class="lead">
  {{ class_name }} scheduled for period {{ period }}!
</p>

<!-- Schedule another at end.
<a href="{% url 'home' %}" id="continue" class="btn btn-success"> Schedule another class</a>
-->

<p id="lower_instruction" class="text-info" style="padding-top:10px;">Timely calculates how long future assignments take</p>
<a href="javascript:;" id="start_gathering" class="btn btn-success">Estimate</a>

<!-- modifications -->
<div id="gathering" class="lead" style="display:none;">
  <span id="gathering_text">Finding {{ class_title }} </span>
  <div id="loading">
    <img src="{{ STATIC_URL }}images/ajax-loader.gif">
  </div>

</div>



<script>

  $('#start_gathering').live('click', function(){
    $('#top_instruction').fadeOut('medium', function(){
      $('#lower_instruction').hide();
      $('#start_gathering').hide();
      $('#gathering').fadeIn('slow').delay(4000).queue(function(){
        $('#gathering_text').html('Parsing syllabus');
      });
      // add further stuff
    });
  });

</script>

{% endblock %}
