{% extends 'base.html' %}


{% block content %}

<div id="top_container">
  {% block logo %}{% endblock %}

  <span id="logo_tutorial"><img src="{{ STATIC_URL }}images/intro_logo.png" style="width: 600px;"></span>
  <p id="top_instruction" class="lead" >Welcome to Spring 2013!</p>


  <p id="lower_instruction" class="text-info" style="padding-top:10px;">Timely is the new way to manage your courses</p>
  <div id="second_lower_instruction" class="text-info" style="display:none; margin-top:-10px;"><strong>Auto-schedule</strong> your courses to your calendar</div>

  <a href="javascript:;" id="start_me" class="btn btn-success">Let's start</a>

  <div id="friend_div" style="display:none;">
    <form action="{% url 'app_tutorial_class_input' %}" method="post" id="friend_form" class="form_search">
      {% csrf_token %}
      <div class="input-append">
        <input name='class_name' class="input-large" style="width:200px;" type="text" placeholder="e.g. ART 1" id="autocomplete-input" />
        <input type="hidden" name='hash' id='hash' value=''/>
        <input type="submit" id="createmyfirstalbum" class="btn btn-primary" value="Go!" />
      </div>
    </form>
  </div>
</div>


<style>

  html {
    height: 100%;
    /*background: url({{ STATIC_URL }}images/grey.png) repeat;*/
  }

  #top_container {
    width:500px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -250px;
  }

  .tutmemes{
    display: block;
    float: left;
    padding:5px;
    margin: 5px;
    border:0 0 1px solid #ACACA5;
    box-shadow:0 0 10px #ACACA5;
    background-color:white;
    /*width: 420px;*/
    /*margin: 5px;*/
  }

  .tutmemes a img{
    display: block;
    width: 200px;

  }

  #album_list{
    width: 1000px;
    right: 200px;
  }

  /* limits the number of people */
   .ui-autocomplete {
        max-height: 200px;
        width:100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
    } 
    .ui-menu-item {
      height:55px;
    }
    .ui-state-hover, .ui-autocomplete li:hover
      {
        display:none;
      }
</style>

{{ standard_js }}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

<script>
{# functions needs to be written inline because of access_token parameter #}
$(function() {
      $( "#autocomplete-input" ).autocomplete({
        source: function( request, response ) {
        var url = "https://graph.facebook.com/me/friends?access_token={{ access_token }}&callback=?";
        $.ajax({
          url: url,
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: "full",
            name_startsWith: request.term
          },
          success: function( data ) {
            res = $.map( data.data, function( item ) {
              if (item.name.toLowerCase().indexOf(request.term.toLowerCase()) >= 0){
                return {
                  label: item.name,
                  value: item.name,
                  picture: item.id
                }
              }
            });
            response(res);
          }
        });
      },
      autoFocus:true,
      minLength: 0,
      select: function( event, ui ) {
        var selectedObj = ui.item;
        $('#hash').val(selectedObj.picture); // id
        // log( ui.item ?
        //   "Selected: " + ui.item.label :
        //   "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
      });
    $("#autocomplete-input").data("autocomplete")._renderItem =  function( ul, item ) {
        var image_url = "http://graph.facebook.com/" + item.picture +"/picture";

        return $( "<li>" )
          .append($("<img style='float:left'>").attr('src',image_url))
          .append( $( "<a>" ).text( item.label ) )
          .appendTo( ul );
    }
    });
</script>

{% endblock %}
